/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

h1{
font-size: 22px;
font-weight: 700;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}




/****** Header ***********/




header {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 79px;
}

        #logoHeader {
            margin-top: auto;
            margin-bottom: auto;
            width: 61px;
            height: 19px;
        }

        nav{
            margin-left: auto; 
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 68px;
            margin-top: 0 ;
        }

                ul li{

                    margin-top: 0;
                    border: none;
                    background: none;
                    text-align: center;
                    padding-top: 15px;
                }

                ul li:hover{
                    border-top: 2px solid #0065FC;
                    color: #0065FC ;
                }





/****** Zone filtres ***********/




.div-filters {
    width:100%;
}

    .headline {
        width: 100%;
        margin-bottom: 35px;
    }

        .headline h1{
            margin-bottom: 10px;
        }
        .headline p {
            margin: 0;
        }

.searchbar{
    display: flex;
    flex-direction: row;
    width: 377px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    align-items: flex-end;
}

        #label-SB{
            display: flex;

            align-items: center;
            justify-content: center;
            min-width: 50px;
            min-height: 49px;
            border-radius: 15px 0px 0px 15px;
            background-color: #F2F2F2 ;
            width: 50px;
            height: 49px;
            margin: 0;
        }

            #mapIcon {
                display: block;
                align-items: center;
                justify-content: center;
                color: black;
            }

            #btn-sub-SB{
                display: flex;
                cursor: pointer;
                width: 132px;
                height: 49px;
                margin: 0;
                padding: 15px 16px 15px 16px;
                background-color: #0065FC  ;
                border: none;
                border-radius: 0px 15px 15px 0px;
                color : white;
                font-weight: bold;
                font-size: large;
            }

            #btn-lens {
                display: none;
                -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.41); 
                box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.41);
            }

            #searchB {
                display:flex;
                width: 195px;
                height: 29px;
                margin: 0;
                padding: 10px;
                font-weight: bolder;
                font-size: large;
                border: none;
            }




/****** filtres ***********/



.div-btn-filters {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    margin-top: 30px;
    margin-left: 0;
}

    .div-btn-filters p{
        font-weight: bold;
        margin-left: 0;
    }


    .iconeFiltres{
        width: 22px;
        height: 22px;
    }

    .btn-filters{
        display: flex ;
        align-items: baseline;
        justify-content: center;
        background: none;
        border: 1px solid #F2F2F2;
        border-radius: 6vh;
        width:150px;
        height: 50px;

    }

.btn-filters:hover{
background-color: #DEEBFF;
cursor: pointer;
}

 .search-result {
    font-weight: normal;

}

.information {
    display: flex;
    margin: 10px 0 15px 0;
}
        #infoIcon {

            border: #F2F2F2 2px solid;
            margin-top: auto;
            margin-bottom: auto;
            color:blue;
            padding: 5px 9px 5px 9px;
            border-radius: 50%;
            margin-right: 8px;
            font-size: 12px;
        }



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;


}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

#hebergements .section-title {
    margin-bottom: 20px;
}

#hebergements h1 {
    margin-top: 0;
    margin-bottom: 25px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px
}

    .host-card {
        padding: 5px;
        width:30%;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

        .imgLoc {
            object-fit: cover ;
            width: 100%;
            height: 124px;
            border-radius: 20px 20px 0px 0px; 
        }

            .HebergCnt{     
                padding: 0px 15px 0px 15px;
            }

                .card-container h2{
                font-size: 16px;
                margin: 5px 0 0 0;
             
                }

                .card-container p {
                font-size: 14px;
                margin: 5px 0 5px 0;


                }


                    .card-container .card-rating {
                        height: 13px;
                        padding: 0px;
                        margin-bottom: 5px; 
                    }

.bottomTxt{
    display: block;
    font-weight: bold;
    margin-top: 50px;

}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .card {
    margin-top: 30px;
}

.populaires-cards .card {
    display: flex;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
#activites {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
#activites .section-title {
    margin: 10px 0 10px 15px ;
}

#activites h1 {
    margin-left: 15px;
} 

.sectionActiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.activity-card {
    margin: 1vh 1vw;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 297px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.ActviCnt{
    display: flex;
    width: 100%;
    padding: 20px;
    height: 20px;
    align-items: center;

    }
.ActviCnt h3{
    font-size: 16px;
    padding: 0 20px 0 5px;
}

.activiteImage{
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right:auto ;
}

/****** Footer ***********/

footer{
    display: flex;
    flex-direction: row;
    background-color:   #F2F2F2;
    margin-top: 30px;
}

footer h4 {
font-size: 18px;
margin: 0;
}
.about, .our-host, .assistance {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    gap: 15px;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

   .main-container {
        max-width: 1024px;
        min-width: 768px;
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    header {
        max-width: 1024px;
    }


    .div-btn-filters {
        flex-wrap: wrap;
    }

    #filtersTitle {
        width: 100%;
    }


    #hebergements {
        width: 100%;
    }

    .bottomTxt{
        margin-top: 20px;
    }
    

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires .card {
        margin: 0;
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activites {
        width: auto;
        padding: 0;
    }

    #activites .section-title {
        margin: 30px 0 10px 35px ;
    }

    #activites h1 {
        margin-left: 40px;
    }


    .activity-card{
        width: 19vw;
    }

    .activiteImage {
        height: 200px;
    }

    .sectionActiv {
        height: auto;
        justify-content: center;
    }

    .ActviCnt {
        padding: 20px 0 20px 0;
    }


    .ActviCnt h3 {
        margin: 0;
        padding : 0 20px 0 20px; ;  
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
        max-width: 767px;
        min-width: 320px;
        margin: 0;

    }

    .section-title{
        font-size: 20px;
    }

    .main-container {
        max-width: 767px;
        min-width: 320px;
        width: 100%;
        padding: 15PX 0 0 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;

    }
        ul {
            width: 100%;
            margin: 0;
            gap: 0px;
            padding: 0;
        }
        ul li{
            margin-top: 0;
            border: none;
            background: none;
            width: 50%;
            text-align: center;
            padding: 0 10% 0 10%;
            border-bottom: 2px solid #F2F2F2;
        }

        ul li:hover{
            border-top: none;
            border-bottom: 2px solid #0065FC;
            color: #0065FC ;
        }

.div-filters {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



    .searchbar {
        width: 100%;
    }

    #btn-sub-SB {
        display: none;
    }

    #searchB {
        width: 90%;
    }

    #btn-lens {
        display: flex;
        cursor: pointer;
        width: 80px;
        height: 49px;
        margin: 0;
        background-color: #0065FC  ;
        border: none;
        border-radius: 15px;
        color : white;
        font-weight: bold;
        font-size: large;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

    }

    .btn-filters {
        width: auto;
        padding: 0 3px 0 3px;
    }

    main {
        width: 100%;
        
    }

    .divSB {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



    .div-btn-filters {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 50px 50px 50px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }

    #filtersTitle {
        display: flex;
        grid-column: 1/3;
    }

    .search-result {
        font-size: 13px;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 15px;
    }


        #hebergements{
            width: 100%;
            background: none;
            margin: 0;
            padding-top: 0;
            padding: 0 15px;
            margin-bottom: 20px;
        }

        #hebergements .section-title {
            margin: 0;
        }

        .card-container{
            margin-top: 15px;
            gap : 20px
        }

            .host-card {
                width: 100%;
            }


        .populaires {
            margin-top: 5px;
        }

            .populaires-cards {
                display: block;



            }

            .populaires-cards .card {
                width: 100%;
                margin-top: 20px;

            }

            .populaires-cards a {
                width: 100%;
                margin-top: 33px;
            }



        #activites {
            padding: 0 30px 0 30px;
            margin-top: 50px;
        }

            #activites h1 {
                margin-left: 0;
            }

            .sectionActiv {
                flex-direction: column;
                height: auto;
            }
            
            .activity-card {
                width: 100%;
            }

            .bottomTxt {
                margin-top: 10px;
            }

    footer {
        flex-direction: column;
        height: auto;
        padding-left: 20px;
    }

    .about, .our-host, .assistance {
        width: auto;

    }
}