/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    /*-max-width: 1440px;*/
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

header {
    display: flex;
    flex-direction: row;
    margin-top: 0vh;

    width: 100%;
    height: 79px;


}




#logoHeader {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 61.09px;
    height: 19px;
}

.Menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    width: 244px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

.btnHeader{

    margin-top: 0;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;



}


.btnHeader:focus{
    border-top: 2px solid #0065FC;
    color: #0065FC ;
}

#btnOne{
    width: 113px;
    height: 35px;   
}

#btnTwo {
    width: 63px;
    height: 35px;
    margin-right: 0;
    
}


/****** Nav ***********/
nav{
    width:100%;
    height:  281px; 
    display : flex;
    flex-direction: column;
}

.headline {
    width: 100%;
    max-height: 53px ;
    margin-bottom: 35px;
}

.headline h1 {
    margin-bottom: 8px;
    height: 26px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;

}
.headline p {
    margin: 0;
    height: 19px;
}


.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    align-items: flex-end;

}

        #labelSB{
            display: flex;

            align-items: center;
            justify-content: center;
            min-width: 50px;
            min-height: 49px;
            border-radius: 15px 0px 0px 15px;
            background-color: #F2F2F2 ;
            width: 50px;
            height: 49px;
            margin: 0;

        }

            #mapIcon {
                display: block;
                align-items: center;
                justify-content: center;
                color: black;

            }

            
        #btnsubSB{
            display: flex;

            width: 132px;
            height: 49px;
            padding: 15px 16px 15px 16px;
            background-color: #0065FC  ;
            border: none;
            border-radius: 0px 15px 15px 0px;
            color : white;
            font-weight: bold;
            font-size: large;
            margin: 0;

        }


        #searchB {
            display:flex;
            width: 195px;
            height: 29px;
            padding: 10px;
            margin: 0;
            font-weight: bold;
            border: none;

        }



/****** Nav filtres ***********/


.filtres {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    width:758px;
    height: 50px;
    gap: 15px;


}

.filtres p{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    margin-left: 0;
    width: 54px;
    height: 21px;


}

.iconeFiltres{
    width: 22px;
    height: 22px;
}
.btnFiltres{
    display: flex ;
    flex-direction: row;
    align-items: center;
    background: none;
    border: 2px solid #F2F2F2;
    border-radius: 25px;

    width:167px;
height: 50px;
padding: 4px 19px 4px 19px;


font-size: 16px;
font-weight: 700;
line-height: 19.96px;
text-align: left;






}

.btnFiltres:hover{
background-color: #DEEBFF;
}

/****** Nav Info ***********/


 .resultatRecherche {
    display: block;
    align-items: flex-end;
    font-weight: normal;
    margin-top: 20px;
}

#infoIcon {
    color:blue;
    margin-top: auto;
    margin-bottom: auto;

}

nav p {

align-items: flex-end;

    font-style: italic;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {

    width: 65%;

}

.hebergements h1 {
    width: 811px;
    height: 26px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.conteneurCartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px
}

    .carte {
        justify-content: space-around;
        padding: 5px;
        width:250.33px;
        height: 207.25px;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        gap: 4px;

    }

        .imgLoc {

            width: 250.33px;
            height: 124px;
            gap: 0px;
            border-radius: 20px 20px 0px 0px; 
            


        }

            .HerbergCnt{
                
                width: 250.33px;
                height: 64.25px;
                padding: 0px 15px 0px 15px;
                gap: 8px;
            }

                .conteneurCartes h2, p  {

                font-size: 16px;
                font-weight: 700;
                line-height: 18.78px;
                text-align: left;

                }

                .conteneurCartes p {

                font-size: 14px;
                font-weight: 400;
                line-height: 16.44px;
                text-align: left;

                }


                    .conteneurCartes .card-rating {
                        width: 81px;
                        height: 13.25px;
                        padding: 0px;

                        
                    }

.bottomTxt{
    display: block;
    font-weight: bold;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {

width: 100%;
}

.sectionActiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.carteActi {
    margin: 1vh 1vw;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 25%;

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    align-items: center;

}

.ActviCnt{
  
    width: 100%;
    height: 4vh;
    padding: 5px ;
    font-weight: bold;
    padding: 5px;


}

.ActviCnt p {
padding: 6px;
}
.activiteImage{
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    width: 95%;
    height: 300px;
    margin-top: 5px;
    margin-left: auto;
    margin-right:auto ;
}

/****** Footer ***********/

footer{
    display: flex;
    flex-direction: row;
    background-color:   #F2F2F2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.about .nosHebergements .assistance {
    display: flex;
    flex-direction: column;
}
.about .nosHebergements .assistance, a {
    display: block;
    margin-top: 1px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}